<div class="container-fluid">
    <div class="container d-flex align-items-center justify-content-center">
        <div class="content col-md-10 bg">
            <div class="row d-flex align-items-center">
                <div class="col-md-6">
                    <img src="../../../assets/welcome.png" alt="">
                </div>
                <div class="col-md-6">
                    <h1>Welcome to the Quiz</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Aspernatur inventore aut nemo nobis molestiae laboriosam
                        cum, dolorem minus quod.</p>
                    <button class="btn btn-primary">Start Quiz</button>
                </div>
            </div>
        </div>
    </div>
</div>
