<div class="container-fluid">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 content">
                <header class="bg">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto">
                            <img src="../../../assets/2.png" alt class="logo">
                        </div>
                        <div class="col text-center">
                            <h3 class="heading">Quiz Web</h3>
                        </div>
                        <div class="col-auto text-right">
                            <h5>User</h5>
                            <p>user gmail.com</p>
                        </div>
                    </div> <hr>
                    <div class="row align-items-center text-center">
                        <div class="col">
                            <h6>Question <span>2</span> of <span>10</span></h6>
                        </div>
                        <div class="col">
                            <p><span>50</span> sec <img
                                    src="../../../assets/3.png"
                                    class="timer-icon" alt></p>
                        </div>
                    </div>
                    <hr>
                </header>

                <div class="question bg">
                    <h4>What is your favorite color?</h4>
                </div>
                <div class="answers ">
                    <div class="option bg">
                        <span>
                            Lorem ipsum dolor sit, amet consectetur adipisicing
                            elit. Neque, tempore?
                        </span>
                    </div>
                    <div class="option bg">
                        <span>
                            Lorem ipsum dolor sit, amet consectetur adipisicing
                            elit. Neque, tempore?
                        </span>
                    </div>
                    <div class="option bg">
                        <span>
                            Lorem ipsum dolor sit, amet consectetur adipisicing
                            elit. Neque, tempore?
                        </span>
                    </div>
                    <div class="option bg">
                        <span>
                            Lorem ipsum dolor sit, amet consectetur adipisicing
                            elit. Neque, tempore?
                        </span>
                    </div>
                </div>
                <div class="bottom-row row d-flex align-items-center">
                    <div class="col d-flex justify-content-start">
                        <i class="fa-solid fa-arrow-left"></i>
                    </div>
                    <div class="col d-flex justify-content-center align-items-center gap-2">
                        <i class="fa-solid fa-recycle"></i>
                        <span>Revisit Questions</span>
                    </div>
                    <div class="col d-flex justify-content-end">
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>
                </div>
                
                <footer>
                    <div>1</div>
                    <div>1</div>
                    <div>1</div>
                    <div>1</div>
                    <div>1</div>
                    <div>1</div>
                </footer>
            </div>
        </div>
    </div>
</div>
