
<div class="container-fluid">
    <div class="sub-container">
        <h2>Welcome to the Quiz</h2>
        <p>Please input your User Id and password to start Quiz</p>

        <form>
            <div class="mb-3">
                <label for="userIdInput" class="form-label">User Id</label>
                <input type="email" class="form-control" id="userIdInput" placeholder="2021-ag-6005">
            </div>
            <div class="mb-3">
                <label for="passwordInput" class="form-label">Password</label>
                <input type="password" class="form-control" id="passwordInput"
                    rows="3">
            </div>
            <button class="btn" type="submit">Submit</button>
        </form>
    </div>
</div>